<nav class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li class="navbar-brand" style='color:#FFFFFF;'><big>DragRacing</big></li>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <%if @onindex !="indexpage"%>
          <li class="mybuttons"><%=link_to "Home",events_path,:style => 'color:#FFFFFF;'%></li>
        <%end%>
        <%if @onshow =="onshow"%>
         <%if user_signed_in? %>
        <%if current_user.id==@event.user_id%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style = 'color:#FFFFFF;'>Event Options <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li class='mybuttons'> <%= link_to 'Destroy', {:controller =>"events", :action => "destroy" ,:event_id => @event.id}, method: :delete, data: { confirm: 'Are you sure?' } %></li>
           <li class='mybuttons'> <%= link_to 'Edit',edit_event_path(@event) %></li>
          </ul>
          <%end%>
          <%end%>
          <%end%>
        </li>
      </ul>
      <%if @onindex =="indexpage"%>
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <%= form_tag(events_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: 'form-control' %>
             <span class="input-group-btn">
              <%= button_tag "Search", class: 'btn btn-primary' %>
              </span>
            <% end %>
</div>
      </form>
      <%end%>
          <%if @mem =="userspage"%>
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <%= form_tag(events_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: 'form-control' %>
             <span class="input-group-btn">
              <%= button_tag "Search", class: 'btn btn-primary' %>
              </span>
            <% end %>
</div>
      </form>
<%end%>
      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in? %>
            <%if @mem!="userspage"%>
          <li class="mybuttons"><%=link_to "Users", { :controller => "users", :action => "all"},:style => 'color:#FFFFFF;' %></li>
            <%else%>
              <li class="active"><%=link_to "Users", { :controller => "users", :action => "all"} %></li>
              <%end%>
        <%end%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style = 'color:#FFFFFF;'>Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%if user_signed_in? %>
            <%if @myev!="myevents"%>
              <li class='mybuttons'><%=link_to "My Events",{:controller => "users",:action =>"myevents"}%></li>
              <%else%>
              <li class='active'><%=link_to "My Events",{:controller => "users",:action =>"myevents"}%></li>
              <%end%>
              <%if @mypro!="myprofile"%>
                <li class='mybuttons'><%=link_to "My Profile",current_user%></li>
              <%else%>
                <li class='active'><%=link_to "My Profile",current_user%></li>
              <%end%>
              <li role="separator" class="divider"></li>
              <li class='mybuttons'><%= link_to "Log out", destroy_user_session_path, :method => 'delete',data: {confirm: "Are you sure"}%> </li>
              <%else%>
              <li class='active'> <%=link_to "Log in",new_user_session_path%> </li>
             <%end%>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>

