<%=render "navbar"%>
  <div class="page-header">
  <div class="indexpage" style="height:350px; background-position: center;" >
  <br>
    <div class="title">
      <h1>Exciting Events <small>Learn all about events</small></h1>
    </div>
    <%if user_signed_in?%>
        <div class="newevent">
          <%= link_to 'Add new event', new_event_path, class: "btn btn-info hvr-float-shadow" %>
        </div>
   <%end%>  
   <br>
   <%=render_shareable :buttons=> ['twitter']%>
  </div>
  </div> 
 <% i=0%>
    <% @events.each do |event| %>
      <%i+=1%>
        <div class="row" >
          <div class="col-sm-6 col-md-4" style="width :20%; margin-left: 3%">
            <div class="thumbnail">
              <%if event.avatar_file_name==nil%>
                <%=image_tag("no-photo.png")%>
              <%else%> 
                <%=image_tag event.avatar(:medium)%>
              <%end%>
              <div class="caption">
                <h2><%=event.title%></h2>
               <%=link_to "Learn More",{:controller => "events", :action => "show", :id => event.id }, class: 'btn btn-primary','data-no-turbolink' => true%>
              </div>
            </div>
          </div>
          <%if i>=4%>
          <%i=0%>
       </div>   
       <%else%>
       <%next%>
       <%end%>
  <%end%>
<br>

