<%=render "navbar"%>
  <div class="page-header">
  <div class="indexpage" style="height:350px; background-position: center;" >
  <br>
    <div class="title">
      <h1>Exciting Events <small>Learn all about events</small></h1>
    </div>
    <%if user_signed_in?%>
        <div class="newevent">
          <%= link_to 'Add new event', new_event_path, class: "btn btn-info hvr-float-shadow" %>
        </div>
   <%end%>  
   <br>
   <%=render_shareable :buttons=> ['twitter']%>
  </div>
  </div> 
 <% i=0%>
 <table style="margin-left: 5%;">
 <tbody>
 <tr>
 <%if (@events_search.size <= 0)%>
    <% @event.each do |event| %>
      <%i+=1%>
      <td>
        <div class="row"  >
        <%if i==1%>
          <div class="col-sm-6 col-md-4" style=" margin-left: 5%;">
          <%else%>
            <div class="col-sm-6 col-md-4" style=" margin-left: 45%;">
          <%end%>
            <div class="thumbnail">
              <%if event.avatar_file_name==nil%>
                <%=image_tag("no-photo.png")%>
              <%else%> 
                <%=image_tag event.avatar(:medium)%>
              <%end%>
              <div class="caption">
                <h2><%=event.title.scan(/.{10}|.+/).join("\n")%></h2>
               <%=link_to "Learn More",{:controller => "events", :action => "show", :id => event.id }, class: 'btn btn-primary','data-no-turbolink' => true,:style=>'color:#FFFFFF;'%>
              </div>
            </div>
          </div>
          </div>
          </td>
          <%if i>=3%>
              <%i=0%>
              </tr>  
              <tr>
          <%else%>
              <%next%>
          <%end%>
  <%end%>
<br>
</tbody>
</table>
<%else%>
 <% @events_search.each do |event| %>
      <%i+=1%>
      <td>
        <div class="row" >
          <div class="col-sm-6 col-md-4" style="width :50%; margin-left: 3%">
            <div class="thumbnail">
              <%if event.avatar_file_name==nil%>
                <%=image_tag("no-photo.png")%>
              <%else%> 
                <%=image_tag event.avatar(:medium)%>
              <%end%>
              <div class="caption">
                <h2><%=event.title%></h2>
               <%=link_to "Learn More",{:controller => "events", :action => "show", :id => event.id }, class: 'btn btn-primary','data-no-turbolink' => true%>
              </div>
            </div>
          </div>
          </div>
          </td>
          <%if i>=3%>
          <%i=0%>
          </tr>  
          <tr>
       <%else%>
       <%next%>
       <%end%>
  <%end%>
<br>
<%end%>
</tbody>
</table>

<div class="pagination">
<% unless @event.empty? %>
   <%= will_paginate @event, renderer: BootstrapPagination::Rails %>
<% end %>
</div>

