<p id="notice"><%= notice %></p>

<p><strong>Title</strong>
	<%=@event.title%>
</p>
<p>
<strong>Description:</strong>
	<%= @event.description %>
<br>
<strong>Adress</strong>
	<%=@event.adress%>
 <br>
  <strong>Number of people whose going to an event:  </strong>
  	<%=@event.users.size %>
 <!--  <%=Event.first%>
  <%=User.first.email%> -->
</p>
<%if user_signed_in?%>	
	<%if @event.users.exists? current_user%>
		<%= button_to "Cancel", { :controller => "events", :action => "cancel"} %>
	<%else%>
	 	<%= button_to "Join", { :controller => "events", :action => "attend"} %>
	 <%end%>
<%end%>
<%if user_signed_in? %>
	<%if ((current_user.voted_for? @event)==false) %>
		<%=link_to "Like",{ :controller => "events", :action => "like",:id =>@event.id}%>
	<%else%>
		<%=link_to "Unlike",{ :controller => "events", :action => "unlike",:id =>@event.id}%>
	<%end%>
	<%=@event.get_positives.size%> 
	<%=link_to "Add comment",{ :controller => "comments", :action => "new", :event_id => @event.id}%>
	<%= link_to 'Edit', edit_event_path(@event) %> |
<%end%>
<%=link_to "Comments",{:controller => "comments", :action =>"index" ,:event_id => @event.id} %>
<%= link_to 'Back', events_path %>
