<p id="notice"><%= notice %></p>

<p><strong>Title</strong>
	<%=@event.title%>
</p>
<p>
<strong>Description:</strong>
	<%= @event.description %>
<br>
<strong>Adress</strong>
	<%=@event.adress%>
 <br>
  <strong>Number of people whose going to an event:  </strong>
  	<%=@event.users.size %>
 <!--  <%=Event.first%>
  <%=User.first.email%> -->
</p>
<%@exist=0%>
<%if user_signed_in?%>
	<%@event.enrollments.each do |xa| %>	
		<%if xa.user_id==current_user.id%>
			<%@exist = 1 %>
			<%@enrollment=xa%>
		<%end%>
	<%end%>
	<%if @exist==1 %>
		<%= button_to "Cancel", { :controller => "enrollments", :action => "destroy",:enrollment_id => @enrollment.id},method: :delete %>
	<%elsif @exist==0%>
		<%= button_to "Join", { :controller => "enrollments", :action => "new",:event_id => @event.id} %>	
	<%end%>
<%end%>
<%if user_signed_in? %>
	<%if @event.user_id==current_user.id%>
		<%if(Date.parse(@event.date.strftime('%Y-%m-%d %H:%M')) <= Date.today) %>
			<%=link_to "Add result",{:controller => "results", :action => "create" , :event_id => @event.id} %>
			<%=link_to "Results", {:controller=>"results", :action => "index" ,:event_id=>@event.id } %>
		<%end%>	
	<%end%>
   <div class="likes"><%= render 'like' %></div>
	<%=link_to "Add comment",{ :controller => "comments", :action => "new", :event_id => @event.id}%>
	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%=render_shareable :buttons=> ['twitter']%> 
<%end%>
	<%=link_to "Comments",{:controller => "comments", :action =>"index" ,:event_id => @event.id}%>
<%= link_to 'Back', events_path %>
