<%= render "events/navbar"%>
<table class="carparams">
<td width="50%;">
<big><big>Mark:</big></big>
<big><%=@car.mark%></big>
<hr>
<big><big>Horse Power:</big></big>
<big><%=@car.horsepower%></big>
<hr>
<big><big>Wheeldrive:</big></big>
<big><%=@car.wheeldrive%></big>
<hr>
<big><big>Transmission:</big></big>
<big><%=@car.transmission%></big>
<hr>
<big><big>Coupe:</big></big>
<big><%=@car.coupe%></big>
<hr>
<big><big>Engine:</big></big>
<big><%=@car.enginetype%></big>
<hr>
</td>
<td>
<%if (@car.avatar_content_type!=nil)%>
	<%= image_tag @car.avatar.url(:medium) ,class: "mycarpage"%>
<%else%>
	<%=image_tag('no-photo.png', :size => "300x300")%>
<%end%>
</td>
</table>
<ul class="pager"> <li class="previous"> <%= link_to(content_tag(:rel, "Back" , href:"animate.min.css"),{:controller => "cars", :action =>"index" }, class: ' animated slideInDown') %></li></td>
 <%= link_to(content_tag(:rel, "Delete Car" , href:"animate.min.css"),{:controller => "cars", :action =>"destroy", :id => @car.id }, class: 'btn btn-danger',:style => 'color:#FFFFFF;',:method => :delete) %>
 <%= link_to(content_tag(:rel, "Еdit Car" , href:"animate.min.css"),{:action =>"edit", :id => @car.id }, class: 'btn btn-warning', :style => 'color:#FFFFFF;') %>
	</ul>