<!DOCTYPE html>
<html>
<head>
  <title>DragRacing</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
    google: ['Nunito', 'Indie Flower' , "Roboto" ,"Oxygen", "Pacifico", "Poiret One", "Amatic SC","Architects Daughter","Playball","Passion One"]

  }) %>
</head>
<body>
<%= yield %>

</body>
</html>
