<%=form_for :result do |f| %>
	<%enrollments=Array.new%>
	<%results=Array.new%>
		<% @event.enrollments.each do |c| %>
			<%if User.exists?(id: c.user_id) %>
				<%enrollments<<c.user_id%>
				<%test=User.find(c.user_id)%>
				<%@event.results.each do |haha| %>
					<%if c.user_id == haha.visitor_id%>
						<%results<<haha.visitor_id%>
    				<%end%>
    			<%end%>		
    		<%else%>
    			<%next%>
    		<%end%>		
  		<% end %>
	<%results=enrollments-results%>
	<%if results.length>0%>
				<div class="panel panel-primary" style="width: 30%;margin-top:10%;margin-left:35%;">
  <div class="panel-heading">Add Result</div>
  <div class="panel-body">
	<%= f.select(:visitor_id) do %>
		<% results.each do |c| -%>
			<%test=User.find(c)%>
    		<%= content_tag(:option, test.email, value: test.id) %>
    	<%end%>	
  	<% end %>
	<br>
	<%=f.label :Time%>
	<br>
	<%=f.text_area :user_result,:size => "15x1",:default => "", class: 'form-control', :style => "width: 50%;"%>
	<br>
	<center><%=f.submit :save, class: ' btn btn-primary' %></center>
	  </div>
</div>

	<%else%>
	<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  All results are added
</div>
		<ul class="pager">
    		<li class="previous"> <%=link_to "Results",{:controller => "results", :action => "index", :event_id=>@event.id}%></li><span aria-hidden="true"></span> </a></li>
		</ul>
	<%end%>
<%end%>
<ul class="pager">
    <li class="previous"> <%= link_to(content_tag(:rel, "Back" , href:"animate.min.css"),events_path, class: 'animated zoomInDown','data-no-turbolink' => true) %>
	</li><span aria-hidden="true"></span> </a></li>
</ul>