<%=render "events/navbar"%>
<br>
<br>
<h3>Results<span class="label label-primary" >Show</span></h3>
<%test=Hash.new%>
<%test=@statis.sort_by {|k, v| v }%>
<%position=0%>
<%rescars=Hash.new%>

<%test.each do |key,value|%>
	<%@cars.each  do |key1,value1| %>
		<%if key==key1%>
			<%rescars[key1]=Array.new%>
			<%rescars[key1]<<value%>
			<%rescars[key1]<<value1%>
		<%end%>	
	<%end%>
<%end%>

<%@mycars=Array.new%>
<%rescars.values.each do |haha|%>
	<%@mycars<<haha.last%>
<%end%>
<%i=0%>
<div class="panel panel-default" style="width: 85%;">
    <div class="panel-heading">ALL STAT</div>
  	<table class="table">
  		<td>#</td>
    	<td><strong>Name</strong></td>
    	<td><strong>Time</strong></td>
    	<td><strong>Car</strong></td>
    	<td><strong>Drive</strong></td>
		<%test.each do |key,value|%>
			<%user=User.find_by_email(key)%> 
			<%@mycars.each do |car| %>
				<%mycar=Car.find_by(id: car)%>
				<%if mycar.user==user%>
					<tr>
					<td><strong><%=position+=1%></strong></td>
					<td><%=key%></td>
					<td><%=value%></td>
					<td><%=mycar.mark%></td>
					<td><%=mycar.wheeldrive%></td>
						</tr>
					<%break%>
				<%end%>
			<%end%>	
		<%end%>
	</table>
</div>
<ul class="pager">
	  <li class="previous"> <%= link_to(content_tag(:rel, "Back" , href:"animate.min.css"),{:action => "index", :event_id =>@event.id}, class: 'animated bounceInLeft','data-no-turbolink' => true) %>
	</li><span aria-hidden="true"></span> </a></li>
</ul>
